<div class="required">
  <%= f.text_field :track, label: "Track Title"%>
</div>
<%= f.text_field :album, label: "Album Title" %>
<%= f.text_field :artist, label: "Artist" %>
<%= f.text_field :composer, label: "Composer" %>
<%= f.text_field :call_number, label: "Call Number" %>
<%= f.text_field :year, label: "Year" %>
<div class="required">  
<%= f.text_field :file_name, label: "File Name" %>
</div>