<div class="container">
  <div class="row">
    <div class="col-sm-10">
	  <div class="col-xs-9 col-sm-9">
	    <h3>Audio Record Core Data</h3>
	    <%= render :partial => 'shared/error_messages' , :locals => {:obj => @audio}%>
	    <p class="required">* Required field </p>
	  
	    <%= bootstrap_form_for @audio, :required=>true do |f| %>
	      <%= render :partial => 'form' , :locals => {:f => f}%>
	      <%= f.primary "Save"%>
	      <%= link_to "Play File", @audio, class: "btn btn-primary", :onclick=>"window.open(this.href,'video_player', 'height=600, width=600');return false;" %>
	      <% if @audio.end_date && !@audio.end_date.blank?%>
	        <%#= link_to "URL", audio_view_path(@audio), class: "btn btn-primary", 'data-no-turbolink' => true , :onclick=>"window.open(this.href,'video_player', 'height=700, width=1000');return false;" %>
            <%= link_to "URL", audio_view_path(@audio), class: "btn btn-primary", 'data-no-turbolink' => true, :onclick=>"alert(this.href);return false;" %>
	      <% end %>
	      <%= link_to "Delete", @audio, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>
	      <%= link_to "Add to Course List", add_to_course_courses_path(:course, :media_ids => ["#{@audio.id}"], :type => 'audio'), :method=> :post, class: "btn btn-primary"%>	     
	      <%= link_to "Return to Search Results", search_audios_path(:search => session[:search]), class: "btn btn-primary"%>
	    <%end%>	    	      
	  </div>
      <%= render :partial => 'shared/thumbnail' , :locals => {:obj => @audio}%>
    </div>
  </div>
</div>