<p id="notice"><%= notice %></p>

<h1>Listing Audios</h1>

<table>
  <thead>
    <tr>
      <th>Track</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Composer</th>
      <th>Call number</th>
      <th>Year</th>
      <th>File name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audios.each do |audio| %>
      <tr>
        <td><%= audio.track %></td>
        <td><%= audio.album %></td>
        <td><%= audio.artist %></td>
        <td><%= audio.composer %></td>
        <td><%= audio.call_number %></td>
        <td><%= audio.year %></td>
        <td><%= audio.file_name %></td>
        <td><%= link_to 'Show', audio %></td>
        <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
        <td><%= link_to 'Destroy', audio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audio', new_audio_path %>
