<div class="text-center"><h3>Media Analytics Overview</h3></div>
<%
  s_date = params[:start_date] ? params[:start_date] : ""
  e_date = params[:end_date] ? params[:end_date] : ""
%>
<br>
<did class="center-block">
<%= form_tag analytics_path, method: "GET", class: "navbar-form" do%>
  <fieldset>
    <%= text_field_tag :start_date, s_date, size: 20, placeholder: "mm/dd/yyyy", class: "datepicker" %> to
    <%= text_field_tag :end_date, e_date, size: 20, placeholder: "mm/dd/yyyy", class: "enddatepicker" %>
    <%= submit_tag "reload", name: nil, class: "btn btn-primary" %>    
  </fieldset>
<% end %>
</div>
<br/>
<div class="container">
    <div class="row">
      <div class="panel panel-default">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-1 center-block">
                <h4><%= @item_count %> items added</h4>
                <span class="overview">This is the total number of objects being streamed per quarter.</span>              
              </td>
              <td class="col-xs-1 center-block">
                <h4><%= @course_count %> courses created</h4>
                <span class="overview">This is the total number of courses being created.</span>              
              </td>
              <td class="col-xs-1 center-block">
                <h4><%= @record_count %> records created</h4>
                <span class="overview">This is the total number of records being created.</span>              
              </td>
              <td class="col-xs-1 center-block">
                <h4><%= @view_counter %> views</h4>
                <span class="overview">A view is counted every time a video is played after 5 minutes.</span>              
              </td>                                                                        
            </tr>
          <tbody>          
        </table>
      </div>
    </div>
</div>