<div class="required">
  <%= f.text_field :title, label: "Title"%>
</div>
<%= f.text_field :director, label: "Director" %>
<div class="required">  
  <%= f.text_field :call_number, label: "Call Number" %>
</div> 
<%= f.text_field :year, label: "Year" %>
<%= f.text_field :file_name, label: "File Name" %>
<%= f.primary "Save"%>