<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path%>">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= new_medium_path%>">Create New Media Record</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= media_path%>">View Last 10 Media Records</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course Reserve List <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= new_course_path%>">Create New Course Reserve List</a></li>
              <li role="separator" class="divider"></li>
              <% if (session[:current_course] != nil)%>
                <li><a href="<%= edit_course_path(session[:current_course].to_s)%>">View Current Course Reserve List</a></li>              
                <li role="separator" class="divider"></li>
              <% end %>
              <li><a href="<%= courses_path%>">View Last 10 Course Reserve List</a></li>
            </ul>
          </li>
          <li><a href="https://lisn.ucsd.edu/pages/viewpage.action?pageId=47188075">Procedures and Policy</a></li>
          <li><a href="<%= destroy_user_session_path %>">Sign Out</a></li>
        </ul>
        
        <% if !display_search.nil? && display_search == "true" %>      
          <%= render :partial => 'shared/search_box'%> 
        <% end %>     
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>