<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path%>">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Audio <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= new_audio_path%>">Create New Audio Record</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= audios_path%>">View Last 10 Audio Records</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Video <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= new_medium_path%>">Create New Video Record</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= media_path%>">View Last 10 Video Records</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course Reserve List <span class="caret"></span></a>
            <ul class="dropdown-menu">
   			  <li><%= link_to "Create New Course Reserve List", new_course_path, 'data-no-turbolink' => true %></li>             
              <li role="separator" class="divider"></li>
              <% if (session[:current_course] != nil)%>
                <li><a href="<%= edit_course_path(session[:current_course].to_s)%>" data-no-turbolink="true">View Current Course Reserve List</a></li>              
                <li role="separator" class="divider"></li>
              <% end %>
              <li><a href="<%= courses_path%>">View Last 10 Course Reserve List</a></li>
            </ul>
          </li>
          <li><%= link_to "Archive", lookup_courses_path, 'data-no-turbolink' => true %></li>
          <li><a href="https://lisn.ucsd.edu/display/DRG/DMR+Archive+Working+Policy">Procedures and Policy</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
            <ul class="dropdown-menu">
   			  <li><%= link_to "Audio Stats", analytics_path(:type => 'audio'), 'data-no-turbolink' => true %></li>             
              <li role="separator" class="divider"></li>
              <li><%= link_to "Video Stats", analytics_path, 'data-no-turbolink' => true %></li>
            </ul>
          </li>
          <li><%= link_to "Report A Bug", "#{root_url}bug.html", :onclick=>"window.open(this.href,'bug', 'height=700, width=600');return false;" %></li>          
          <li><a href="<%= destroy_user_session_path %>">Sign Out</a></li>
        </ul>
        
        <% if !display_search.nil? && display_search == "true" %>      
          <%= render :partial => 'shared/search_box'%> 
        <% end %>     
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
