<div class="content">
  <% if logged_in?%>
    <%= form_tag search_media_path, method: "GET" do%>
      <fieldset class="search">
        <%= label_tag 'search', 'search', class: "hide-label"%>
        <%= text_field_tag :search, params[:search], placeholder: "Search Video, Audio or Course ...", size: 50%>   
        <%= submit_tag "", name: nil, class: "btn btn-primary btn-search" %>
        <div>
          <%= render :partial => 'shared/search_option'%>
        </div>     
      </fieldset>
    <% end %>
  <% else %>
    <h2 class="text-center">Welcome to Digital Media Reserves (DMR)</h2>
    <h3 class="text-center"><%= link_to 'Sign In', new_user_session_path(origin: request.original_url), data: {no_turbolink: true }%></h3>
  <% end %>
</div>
