<div class="container">
  <div class="row">
    <div class="col-sm-10">
	  <div class="col-xs-9 col-sm-9">
	    <h3>Video Record Core Data</h3>
	    <%= render :partial => 'shared/error_messages' , :locals => {:obj => @media}%>
	    <p class="required">* Required field </p>
	  
	    <%= bootstrap_form_for @media, :required=>true do |f| %>
	      <%= render :partial => 'media_form' , :locals => {:f => f}%>
	      <%= f.primary "Save"%>
	      <%= link_to "Play File", medium_path(@media), class: "btn btn-primary", 'data-no-turbolink' => true , :onclick=>"window.open(this.href,'video_player', 'height=600, width=600');return false;" %>
	      <% if @media.end_date && !@media.end_date.blank? %>
	        <%#= link_to "URL", video_view_path(@media), class: "btn btn-primary", 'data-no-turbolink' => true , :onclick=>"window.open(this.href,'video_player', 'height=700, width=1000');return false;" %>
            <%= link_to "URL", video_view_path(@media), class: "btn btn-primary", 'data-no-turbolink' => true, :onclick=>"alert(this.href);return false;" %>
          <% end %>
	      <%= link_to "Delete", @media, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>
	      <%= link_to "Add to Course List", add_to_course_courses_path(:course, :media_ids => ["#{@media.id}"]), :method=> :post, class: "btn btn-primary"%>	     
	      <%= link_to "Return to Search Results", search_media_path(:search => session[:search]), class: "btn btn-primary"%>
	    <%end%>	    	      
	  </div>
      <%= render :partial => 'shared/thumbnail' , :locals => {:obj => @media}%>
    </div>
  </div>
</div>