<div class="container">
  <div class="row">
	<div class="object-panel">
	  <h3>New Media Record Core Data</h3>
	  <%= render :partial => 'shared/error_messages' , :locals => {:obj => @media}%>
	  <p class="required">* Required field </p>
	
	  <%= bootstrap_form_for :media, url: media_path do |f| %>
        <%= render :partial => 'shared/media_form_fields' , :locals => {:f => f}%>
	    <input class="btn btn-primary" type="reset" value="Cancel"/>
	    <%= link_to "Add to Course Reserve List", media_path, class: "btn btn-primary"%>
	    <%= link_to "Return to Search Results", media_path, class: "btn btn-primary"%>
	  <% end %>
	</div>
  </div>
</div>	  