<div class="container-fluid">
  <div class="row">
	<div class="col-xs-6">
	  <h2>Media Record Core Data</h2>
	  <form class="form-horizontal">
	  <div class="form-group">
        <label class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @media.title %></p>
        </div>
        <label class="col-sm-2 control-label">Director:</label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @media.director %></p>
        </div>
        <label class="col-sm-2 control-label">Call Number:</label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @media.call_number %></p>
        </div>
        <label class="col-sm-2 control-label">Year:</label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @media.year %></p>
        </div>
        <label class="col-sm-2 control-label">File Name:</label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @media.file_name %></p>
        </div>                                
	  </div>
	  </form>
	  <%= link_to "Play File", edit_medium_path(@media.id), class: "btn btn-primary"%>
	  <%= link_to "Edit", edit_medium_path(@media.id), class: "btn btn-primary"%>
	  <%= link_to "Delete", media_path, class: "btn btn-primary"%>
	  <%= link_to "Add to Course Reserve List", media_path, class: "btn btn-primary"%>
	  <%= link_to "Return to Search Results", media_path, class: "btn btn-primary"%>
	</div>
	<div class="col-xs-4">
	  <%=image_tag "/media/#{@media.id}/#{@media.file_name.gsub('.mp4','.jpg')}", :alt => '', :class => 'media-thumbnail' %>
	</div>
  </div>
</div>