<div id="tdr_content_content" style="width:70%;max-width:70%;">
  <h1 class="hide-label">Audio</h1>
<!--JWPlayer player config. and script-->	     
<div id="player">Loading the player...</div>

<% if @course.audioreports and @course.audioreports.size > 0 %> 
  <script type="text/javascript">
    let newWidth = 1;
    let parent = document.getElementById('player').parentElement;  
    jwplayer("player").setup({
      playlist: [{
      <% @sorted_audio.each do |m| %>
        <%
          if m
            secure_token = grab_secure_token_url(m.file_name, Rails.configuration.secure_token_audio_baseurl)
            audio_base_url = "#{Rails.configuration.secure_token_audio_baseurl}#{m.file_name}"
          end
        %>
        <% if secure_token != nil %>
          <% 
            thumbnailURL = "#{Rails.configuration.audio_file_path}#{m.file_name.gsub('.mp3','.jpg')}"
            if !url_exist?(thumbnailURL)
              thumbnailURL = "https://library.ucsd.edu/dmrthumbs/audio_icon.png"              
            end          
          %>
          sources: [
	        {file: "https://<%=audio_base_url%>/playlist.m3u8?<%=secure_token%>"}
	      ],
	      <!--title of media file-->
	      title: "<%= m.track %>",
	      
          <!--Brief media description text area-->
	      description: "Album: <%= m.album %> <br/>Year: <%= m.year %>",
	  	  
	      <!--add image: to display thumbnail-->
	      image: "<%= thumbnailURL%>"
	  
          },{
        <% end %>
      <% end %>
	
      }],
      visualplaylist:false,
      width: 300 ,
      height: 40,
      skin: 'vapor',
      rtmp: {bufferlength: 3},
    });
    jwplayer().on('ready', function() {
      resize();
      window.onresize = function() {
        resize();
      };
      var myVideos = jwplayer().getPlaylist();
      for (var i = 0; i < myVideos.length; i++) {
        document.getElementById('listbar').innerHTML += '<div style="margin:10px 0 0 0;" class=listbar_item id=video'+ i +' onClick="javascript:playThis('+i+')"><a href="javascript:playThis('+i+')"><img style="float: left; height: 50px; width: 50px; margin-right: 10px; margin-left:10px;" src="' + myVideos[i].image + '"></a><b>' + myVideos[i].title + '</b><br>' + myVideos[i].description + '</div><div class="jwplaylistdivider"></div>';
    }});
    jwplayer().on('play', function(){updateActiveDiv(jwplayer().getPlaylistItem().index);});
    function playThis(index) {
      jwplayer().playlistItem(index);
      updateActiveDiv(index);   
    }
    
    function updateActiveDiv(index) {
      var activeDiv = document.getElementsByClassName("active");
      if (activeDiv[0] != null) {
         activeDiv[0].className = "listbar_item";
      }
      var div = document.getElementById( 'video'+index );
      div.className += " active";    
    }
    
    function resize() {
      let currentWidth = parent.offsetWidth;
      jwplayer().resize(currentWidth * newWidth, 40);
    }    	
  </script>
<% end %>
  <div id="listbar" style="height:300px;width:100%;overflow-y: scroll; align:center;"></div>
  </div>
</div>