<div class="required">
  <%= f.text_field :course, label: "Course"%>
</div>
<div class="required">
  <%#= f.text_field :quarter, label: "Quarter"%>
  <%= f.select :quarter, [["Fall", "Fall"],["Winter", "Winter"],["Spring", "Spring"],["Summer", "Summer"]], { label: "Quarter" }, { class: "selectpicker"} %>
</div>
<div class="required">
  <%= f.text_field :year, label: "Year"%>
</div>
<div class="required">
  <%= f.text_field :instructor, label: "Instructor"%>
</div>
<div class="form-group">
  <% e_date = @course.end_date ? @course.end_date : ""%>
  <label class="control-label" for="course_end_date">End Date</label>
  <input type="text" name="course[end_date]" id="course_end_date" value="<%= e_date%>" size="20" placeholder="YYYY-MM-DD" class="enddatepicker form-control" data-date-format="yyyy-mm-dd"/>
</div>