<!--JWPlayer player config. and script-->

<video controls="controls" id="player">Loading the player...</video>

<% if @course.reports and @course.reports.size > 0 %> 
  <script type="text/javascript">
    jwplayer("player").setup({
      playlist: [{
      <% @sorted_media.each do |m| %>
        <%  wowzaURL = grab_wowza_url(m.file_name,m.id) if !m.nil?%>
        <% if wowzaURL != nil %>
          <% thumbnailURL = "#{Rails.configuration.file_path}#{m.file_name.gsub('.mp4','.jpg')}"%>      
	      sources: [
	        {file: "http://<%=wowzaURL%>/manifest.mpd"},
	        {file: "http://<%=wowzaURL%>/playlist.m3u8"},
	        {file: "rtmp://<%=wowzaURL%>"}
	      ],
	      <!--title of media file-->
	      title: "<%= m.title %>",
	      
          <!--Brief media description text area-->
	      description: "Director: <%= m.director %> <br/>Year: <%= m.year %>",
	  	  
	      <!--add image: to display thumbnail-->
	      image: "<%= thumbnailURL%>"
	  
          },{
        <% end %>
      <% end %>
	
      }],
      rtmp: {
        bufferlength: 5,
      },
	  //listbar: {
      //  position: 'right',
      //  size: "25%",
      //},
	  width: "100%",
	  height: "100%",
	  aspectratio: "16:6",
	  skin: 'glow',
	  fallback: false
    });
	jwplayer().onReady(function(){
      var myVideos = jwplayer().getPlaylist();
      for (var i = 0; i < myVideos.length; i++) {
        document.getElementById('list').innerHTML += '<li><span class="dropt" title="'+myVideos[i].title+'"><a href="javascript:playThis('+i+')"><img class="img-responsive" src="'+myVideos[i].image+'" <="" img="" height="75" width="auto"><br>'+myVideos[i].title+'<br/>'+myVideos[i].description+'</a><br><span style="width:500px;" <="" span=""></span></span></li>';
	  } 
	});
	jwplayer().onPlaylist(function(){		
	});
    function playThis(index) {
      jwplayer().playlistItem(index);
    }	
  </script>
<% end %>