<!--JWPlayer player config. and script-->

<div id="player">Loading the player...</div>

<% if @course.reports and @course.reports.size > 0 %> 
  <script type="text/javascript">
    jwplayer("player").setup({
      playlist: [{
      <% @sorted_media.each do |m| %>
        <%  wowzaURL = grab_wowza_url(m.file_name,m.id) if !m.nil?%>
        <% if wowzaURL != nil %>
          <% thumbnailURL = "#{Rails.configuration.file_path}#{m.file_name.gsub('.mp4','.jpg')}"%>      
	      sources: [
	        {file: "rtmp://<%=wowzaURL%>"},
	        {file: "http://<%=wowzaURL%>/playlist.m3u8"}
	      ],
	      <!--title of media file-->
	      title: "<%= m.title %>",
	      
          <!--Brief media description text area-->
	      description: "Director: <%= m.director %> Year: <%= m.year %>",
	  	  
	      <!--add image: to display thumbnail-->
	      image: "<%= thumbnailURL%>"
	  
          },{
        <% end %>
      <% end %>
	
      }],
      rtmp: {
        bufferlength: 5,
      },

	  listbar: {
        position: 'right',
        size: "25%",
      },
	  width: "100%",
	  height: "100%",
	  aspectratio: "16:6",
	  skin: 'glow'
    });

  </script>
<% end %>