<% if @is_archive %>
<div class="ribbon">
  <a href="#">Archive</a>
</div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
	  <h3>Course Reserve List</h3>
      <%= render :partial => 'shared/error_messages' , :locals => {:obj => @course}%>
      <p class="required">* Required field </p>

      <%= bootstrap_form_for @course, :required=>true do |f| %>
        <%= hidden_field_tag 'form_action' %>
	    <%= render :partial => 'form' , :locals => {:f => f}%>
	    <div class="center-block">
	      <%= f.submit "Save", class: "btn btn-primary"%>
	      <%= link_to "Delete", @course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>
	      <%= link_to "Clone", clone_course_courses_path(:id => "#{@course.id}"), class: "btn btn-primary"%>
	      <%= link_to "View", course_report_path(@course), class: "btn btn-primary" , :onclick=>"window.open(this.href,'video_player', 'height=700, width=1000');return false;" %>
	      <%= f.submit "Send List", class: "btn btn-primary"%>
	      <%= link_to "Archive", archive_courses_path(:course_ids => ["#{@course.id}"]), class: "btn btn-primary" if !@course.course.include?('ARCHIVE')%>	      
	      <%= link_to "UnArchive", unarchive_courses_path(:course_ids => ["#{@course.id}"]), class: "btn btn-primary" if @course.course.include?('ARCHIVE')%>	
	    </div>	    
	    <%= render :partial => 'media_view' , :locals => {:f => f, :sorted_media => @sorted_media}%>
	    <%= render :partial => 'audio_view' , :locals => {:f => f, :sorted_audio => @sorted_audio}%>
	  <%end%>
    </div>
  </div>
</div>