<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <%= render :partial => 'shared/report_header'%>
  <body>
    <%= render :partial => 'shared/report_menu'%>	
	<div id="tdr_content" class="tdr_fonts" style="width:80%;margin-left:auto;margin-right:auto;">
  
	    <% if @course.audioreports and @course.audioreports.size > 0  %>
	      <%= render :partial => 'audio_playlist'%>
	    <% else %> 			
          <%= render :partial => 'video_playlist'%>
        <% end %>

    <%= render :partial => 'shared/report_footer'%>		
  </body>
</html>
