<p id="notice"><%= notice %></p>

<p>
  <strong>Quarter:</strong>
  <%= @course.quarter %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course.course %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
