<!DOCTYPE html>
<html>
<%= render :partial => 'shared/head'%>
<body>
  <%= render :partial => 'shared/header'%>
  <%= render :partial => 'shared/search_box'%>
  <section id="messages" class="row-fluid">
    <%= render :partial=>'shared/flash_messages' %>
  </section>
  <section id="home-container">
    <%= yield %>
  </section>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
