<!DOCTYPE html>
<html>
<head>
  <title>DMR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'shared/header'%>
  <%= render :partial => 'shared/search_box'%>
  <section id="messages" class="row-fluid">
    <%= render :partial=>'shared/flash_messages' %>
  </section>
  <section id="home-container">
    <%= yield %>
  </section>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
