<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'shared/head'%>
<body>
  <% @search_box_display = 'true' if @search_box_display.nil? %>  
 
  <header>
    <%= render :partial => 'shared/header'%>
    <% if @menu_display.nil?%>
      <%= render :partial => 'shared/menu', :locals => {:display_search => "#{@search_box_display}"}%>
    <% end %>  
  </header>
  <section id="messages" class="row-fluid">
    <%= render :partial=>'shared/flash_messages' %>
  </section>
  <section id="home-container">
    <%= yield %>
  </section>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
